body{
    background-color: #468B97;
}

#carousel{
    border: 5px solid black;
}

#card #text{
    position: relative;
    bottom: 140px;
    text-align: right;
}

#thumbnails{
    border: 5px solid black;
    border-left: 0px;
    border-radius: 0px 30px 30px 0px;
}

#thumbnails .thumb{
    opacity: 0.3;
}

#thumbnails .thumb.active{
    opacity: 1;
}

#arrows i{
    cursor: pointer;
}
