body{
    background-color: #468B97;
}

#card #text{
    position: relative;
    bottom: 140px;
    text-align: right;
    width: 100%;
}

#thumbnails .thumb{
    opacity: 0.3;
}

#thumbnails .thumb.active{
    opacity: 1;
    border: 3px solid white;
}

#arrows i{
    cursor: pointer;
}
